etc/*
!etc/php
!etc/cache
!etc/default.conf
!etc/default-ssl.conf
!etc/default-ssl.sample
!etc/networks/default.conf
!etc/supervisor
!etc/mysql/my.cnf
!etc/mysql/my.cnf.sample
!etc/public.sample
!etc/public-ssl.sample
!etc/ssl/*
*.swp
*.pyc
data/
!.gitignore
var/
